@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Eater|Knewave|Metal+Mania|Nosifer|Rock+Salt|Sedgwick+Ave+Display&display=swap');
/*
font-family: 'Rock Salt', cursive;
font-family: 'Knewave', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Eater', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Sedgwick Ave Display', cursive;
*/


h1 {
    color:rgb(167, 29, 29);
    font-family: 'Nosifer', serif;
    /*text-align: center;*/
}
h2 {
    color:yellow;
    font-family: 'Metal Mania', cursive;
    text-align: center;
}
h3 {
    color: yellowgreen;
    font-family: 'Sedgwick Ave Display', cursive;
}
.center{
    text-align: center;
}
p{
    color: beige;
    font-family: 'Cinzel', serif;
    width: 65vw;
    box-sizing: border-box;
    padding: 50px 50px 50px 100px;
    text-align: center;
}
p2 {
    color:yellow;
    text-align: center;
}
p3 {
    color: red;
}
* body {
    background-image: url(ITbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    margin: auto;
    width: 80%;
}
.size{
    font-size: 11px;
}
.makeMeWhite {
    color: rgb(226, 12, 12);
}
/*
* {
    box-sizing: border-box;
}
.box {
    color:white;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding:15px;
    width: 400px;
  }
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
}
*/

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
 }
 
 .content {
    padding: 25px;
    background-color: rgba(#000, .3);
    position: absolute;
    right: 50px;
    bottom: 50px;
    
    h1 {
       font-family: 'Roboto Slab', serif;
       margin: 0;
       color: #fff;
    }
 }
 html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}