@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Eater|Knewave|Metal+Mania|Nosifer|Rock+Salt|Sedgwick+Ave+Display&display=swap');
/*
font-family: 'Rock Salt', cursive;
font-family: 'Knewave', cursive;
font-family: 'Nosifer', cursive;
font-family: 'Eater', cursive;
font-family: 'Metal Mania', cursive;
font-family: 'Sedgwick Ave Display', cursive;
*/






img {
    border-radius: 50%;
}
h1 {
    color:rgb(167, 29, 29);
    font-family: 'Nosifer', serif;
}
h2 {
    color:yellow;
    font-family: 'Metal Mania', cursive;
    text-align: center;
}
.center{
    text-align: center;
}
p{
    color: beige;
    font-family: 'Cinzel', serif;
    width: 65vw;
    box-sizing: border-box;
    padding: 50px 50px 50px 100px;
}
p2 {
    color:yellow;
}
p3 {
    color: red;
}
body {
    background-image: url(ITbackground.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-color: black;
}
.size{
    font-size: 11px;
}
.makeMeWhite {
    color: rgb(226, 12, 12);
}